{% extends 'base.html' %}
{% block contents%}
{% for blog in blogs.all %}
    <div class="container">
        <a href="{% url 'detail' blog.id %}">
            <h1>{{ blog.title }}</h1>
        </a>
        <p>{{ blog.pub_date }}</p>
        <p>{{ blog.summary|safe }}</p> <a href = "{% url 'detail' blog.id%}">...more</a></p>
        <a href = "{% url 'update' blog.id%}"> 수정하기 </a>
        <a href = "{% url 'delete' blog.id%}"> 삭제하기 </a>
        
    </div>
{% endfor %}
<br><br>
<div class="container">
    <a href="{% url 'new' %}"> new post </a>
</div>
{% endblock  %}